<a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
<a href="/tickets/new"	<%- title === 'Add Ticket' ? 'class="active"' : '' %>>NEW TICKET</a>
<a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a>


<link rel='stylesheet' href='/stylesheets/style.css' />
  <table id="list">
    <thead>
      <br><br><tr>
        <th><h1>AIRLINE</h1></th>
        <th><h1>AIRPORT</h1></th>
       
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

  

