<a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
<a href="/tickets/new"	<%- title === 'Add Ticket' ? 'class="active"' : '' %>>NEW TICKET</a>
<a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a>
<a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>

<link rel='stylesheet' href='/stylesheets/style.css' />

<label><h1>Flight Information:</h1></label>
<section id="show-page">
  <div><h3>Airline:</h3></div>
  <div><%= flight.airline %></div>
  <div><h3>Airport:</h3></div>
  <div><%= flight.airport %></div>
  <div><h3>Flight Number:</h3></div>
  <div><%= flight.flightNo %></div>
  <div><h3>Departure:</h3></div>
  <div><%= flight.departs.toISOString().slice(0,16) %></div>

</section>

<div><h3>Ticket:</h3></div>
  <ul><h4>
    <%- flight.flightsTickets.map(t => 
      `<li>${t.seat} - <small>$${t.price}</small></li>`
    ).join('') %>
  </h4></ul>



</section>
<form id="add-ticket-to-flight" action="/flights/<%= flight._id %>/tickets" method="POST">
  <select name="ticketId">
    <%- tickets.map(t => 
      `<option value="${t._id}">${t.seat}</option>`
    ).join('') %>
  </select>
  <button class="submit" type="submit">Add Ticket</button>
</form>

<h3>Destinations</h3>


<% if (flight.destinations.length) { %>
	<table>
	  <thead>
		<tr>
		  <th>Destination</th>
		  <th>Arrival Time</th>
		</tr>
	  </thead>
	  <tbody>
		<% flight.destinations.forEach(function(f) { %>
		  <tr>
			<td><%= f.desAirport %></td>
			<td><%= f.arrival.toISOString().slice(0,16) %></td>
		  </tr>
		<% }); %>
	  </tbody>
	</table>
  <% } else { %>
	<h5>No Destination Shown</h5>
  <% } %>

  <br>
  <form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
<label><h4>Add Destinations:</h4></label>
<select class="dropdown" name="desAirport">
  <option value="AUS">AUS</option>
  <option value="DFW">DFW</option>
  <option value="DEN">DEN</option>
  <option value="LAX">LAX</option>
  <option value="SAN">SAN</option>
</select>
<input class="dropdown" type="datetime-local" name="arrival">
<input class="submit" type="submit" value="Add Destination">
</form>